* {
  font-family: 'Arial';
  font-weight: 200;
}

body {
  margin: 0;
}

main {
  padding: 0 3%;
}

img {
  max-width: 25%;
  max-height: 25%;
  margin: 1em;
}

article {
  clear: both;
  overflow: auto;
  width: 100%;
}

hr {
  clear: both;
}
